@font-face{
    font-family:'BYekan';
    src:url("fonts/BYekan.eot");
    src:url("fonts/BYekan.otf") format("opentype");src:local("☺"),local("BYekan"),
        url("fonts/BYekan.woff") format("woff"),
        url("fonts/BYekan.ttf") format("truetype"),
        url("fonts/BYekan.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:"BNazaninBd";
    src:url("fonts/BNazaninBold.eot");
    src:url("fonts/BNazaninBold.woff") format("woff"),
        url("fonts/BNazaninBold.ttf") format("truetype"),
        url("fonts/BNazaninBold.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:"BBCNassim";
    src:url("fonts/BBCNassim.eot");
    src: url("fonts/BBCNassim.woff") format("woff"),
        url("fonts/BBCNassim.ttf") format("truetype");
    
    font-weight:normal;
    font-style:normal
}

html {
    height: 100%;
}
.yekan{
    font-family:'BYekan' !important;
    text-align: right;
}
.nassim{
    font-family:'BBCNassim' !important;
    text-align: right;
}
.nazanin{
    font-family:'BNazaninBd' !important;
    text-align: right;
}
